    <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
            <%# turbo-method: :delete arranges for the link to issue the necessary DELETE request %>

            <%# turbo-confirm displays a JS confirm box %>
           | <%= link_to "delete", user, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete #{user.name}?"}%>
        <% end %>
    </li>